@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400;500;600;700&family=Indie+Flower&family=Lilita+One&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root{
    --main-color:#84d3c7;
    --black:#e3e1e1;
    --bg:#f5f5f8;
    --border: 0.1rem solid rgba(255, 255, 255, 0.952);
}


.cover{
    margin-bottom: 14%;  
}

.cover .container__cover{
    justify-content: space-between;   
}
.container__cover{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 14%;  
}
.contTitulo{
    align-items: center;
}

.titulo {
    font-family: 'Lilita One', cursive;
    display: flex;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-top: 1em; 
    margin-left: 10%;margin-right: 10%;
    font-size: 2rem;  
    background: #fbf1f1; 
    justify-content: center;
    border-radius: 0.7rem; 

	overflow: hidden;
	align-content: center;
	text-align: center;
}

.container__pregunta{
    box-sizing: border-box;
    font-size: 1rem;
}

.cover .container__rueda{
    margin-top: 4rem;
    margin-left: 10%; margin-right: 10%;
    justify-content: center; /*horizontal*/
    align-items: center; /*vertical*/
    position: inherit;
}

.container {
    align-items: center;
    gap: 50px;
}

#posts {
    width: 500px;
}

.singular_posts {
    display: flex;
    flex-direction: column;
}

#posts div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options {
    display: flex;
    gap: 25px;
} 
select,
option {
    cursor: pointer;
    width: 65%;
    min-height: 6px;
    border-radius: 15px;
    background-color: rgb(250, 250, 250);
    box-shadow: 2px 4px 8px #370866;
    transition: all 300ms;
    align-items: center;
    padding: 2px;
    font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9rem;
}
option:checked,
option:hover {
background-color: rgb(84, 238, 133);}

#msg {
    color: red;
}
/*======================================== */
.app {
    background: rgb(241, 239, 240);
    width: 65rem;
    border-radius: 2.5rem;
	border: 9px none;
	border-radius: 0.3rem;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 10%;
    margin-top: 5%;
}

#addNew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(107, 83, 83, 0.35);
    padding: 5px 10px;
    border-radius: 0px;
}

.fa-plus {
    background-color: #f0f1ef;
    padding: 3px;
    border-radius: 3px;
    color: #f3f0f1;
}

#tasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}

#tasks div {
    border: 3px solid #abcea1;
    background-color: #e2eede;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
}

#tasks div .options {
    justify-self: center;
    display: flex;
    gap: 20px;
}

#tasks div .options i {
    cursor: pointer;
}

#txt_nombre_seccion, #btn_new_sec, #txt_new_nomb_sec, .btn {
    font-size: 1.5rem;
}

/*form styles*/

#msform {
	width: 80%;
	margin:  auto;
	text-align: center;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
    margin: 4rem 10% 2rem 10%;
    text-align: center;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
    font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#msform .action-button:hover, 
#msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-family: "Lucida Handwriting", cursive;
	font-size: 25px;
	/* text-transform: uppercase; todo mayuscula*/
	color: #fca709;
	margin-bottom: 2.5rem;
    
    text-shadow: 1px 1px 1px #0a0000; 
}
.fs-subtitle {
	font-weight: normal;
    font-family: 'montserrat', arial, verdana;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

i{
    cursor: pointer;
}
