#notification {
    position: fixed;
    bottom: 3rem;
    right: 8rem;
    background-color: #0f9d58; 
    color: white;
    padding: 0.5rem;
    margin-top: 0rem;
    padding-top: 0rem;
    border-radius: 5px;
    z-index: 1;
    text-align: center;
    text-decoration: solid;
    font-style: italic;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

#notification.show {
    opacity: 1;
    visibility: visible;
}

#notification .close-btn {
    color: white;
    float: right;
    margin-left: 1rem;
    font-weight: bold;
    cursor: pointer;
}
