@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Lobster+Two&family=Miltonian+Tattoo&family=Press+Start+2P&display=swap");
.text-focus-in {
-webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.nombreApp {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    margin-top: 20px;
}

.nombreApp label {
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Cabin Sketch';
    padding: 10px;
    color: #505B80;
}

@-webkit-keyframes text-focus-in {
    0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Alineación vertical en el centro */
    height: 100vh; /* Ajusta la altura según tus necesidades */
}
  
.box-2 {
    margin-bottom: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.nuevoT {
    width: 155px;
    height: 60px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #E89CA1;
    transition: 0.1s;
    margin-top: 28px;
    margin-left: 40px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 1rem;
}

.nuevoT::after {
    content: '';
    width: 100%;
    height: 100%;
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% ); */
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

.nuevoT:active {
    transform: scale(0.9) rotate(3deg);
    /* background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% ); */
    transition: 0.5s;
}

/* 2da opcion */
.nuevoF {
    width: 155px;
    height: 60px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #E89CA1;
    /* transition: 0.1s; */
    margin-top: 28px;
    font-family: 'Alfa Slab One', cursive;
    /* font-size: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    margin-right: 50%; */
  }

  /* .nuevoF::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .nuevoF:active {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    transition: 0.5s;
  } */