# Enable rewrite engine
#RewriteEngine On

# Set the base for rewrite rules
#RewriteBase /

# Redirect requests for assets to the correct path
#RewriteRule ^/css/(.*)$ /ruedadelavida/css/$1 [L]
#RewriteRule ^/js/(.*)$ /ruedadelavida/js/$1 [L]
#RewriteRule ^/imagenes/(.*)$ /ruedadelavida/imagenes/$1 [L]

# Redirect all requests to index.html, except for existing files, directories, and symbolic links
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-l
#RewriteRule ^/(.*)$ /ruedadelavida/menu.html [L,QSA]
#^ negates


RewriteEngine On
RewriteBase /ruedadelavida
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# Fallback all other routes to index.html
RewriteRule ^ /ruedadelavida/menu.html [L]